doctype html
html

head
link(rel='stylesheet' type='text/css' href='node_modules/md-icons/dist/material-design-icons.css')
link(rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='node_modules/css/style.css')
title= title

body.qm
nav.navbar.fixed-bottom
	a.navbar-brand(href='/')
		img#logo( height='24')
	ul.nav.justify-content-center
		li.nav-item: a.nav-link.qm(href='/helium'): i.material-icons.md-light picture_in_picture
		li.nav-item: a.nav-link.qm(href='/previous'): i.material-icons.md-light navigate_before
		li.nav-item: a.nav-link.qm(href='/play'): i.material-icons.md-light play_arrow
		li.nav-item: a.nav-link.qm(href='/next'): i.material-icons.md-light navigate_next
		li.nav-item: a.nav-link.qm(href='/reset'): i.material-icons.md-light autorenew
	ul.nav.justify-content-right
		li.nav-item: a.nav-link.qm(href='/exit'): i.material-icons.md-light close
		
div.container.row.col-12.m-0.p-0
	div.col-12
		div(id='player')
		p!= md
script.
	let nm = 'node_modules/';
	
	require(nm + 'jquery/dist/jquery.min.js')
	require(nm + 'moment/min/moment.min.js')
	require(nm + 'tether/dist/js/tether.min.js')
	require(nm + 'popper/dist/popper.min.js')
	require(nm + 'bootstrap/dist/js/bootstrap.min.js')
	require(nm + 'p5/lib/p5.min.js')
	require('../js/renderer.js')
